.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

.hero-body a {
  text-decoration: underline;
}

.hero-body a:hover {
  color: #ffffffc4 !important
}